<a href="https://colab.research.google.com/github/anurvish/Scalable_Data/blob/main/modelLinear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/drive/MyDrive/ML/GroupProject/final_data.csv", )
df.head()
df = df.replace(np.NaN, 0)
df

      revenue_main  adult_main  ...  3_gender_crew  Directing_relevance_crew
0           545436       False  ...            0.0                       1.0
1          1000000       False  ...            0.0                       1.0
2          2700000       False  ...            0.0                       1.0
3             8811       False  ...            0.0                       1.0
4            26890       False  ...            0.0                       1.0
...            ...         ...  ...            ...                       ...
4572     657924295       False  ...            0.0                       1.0
4573     961000000       False  ...            0.0                       1.0
4574    2046239637       False  ...            0.0                       1.0
4575    2797800564       False  ...            0.0                       1.0
4576    1045713802       False  ...            0.0                       1.0

[4577 rows x 31 columns]

In [3]:
X = df.iloc[:, 1:]
X

      adult_main  budget_main  ...  3_gender_crew  Directing_relevance_crew
0          False         7000  ...            0.0                       1.0
1          False        10000  ...            0.0                       1.0
2          False        12000  ...            0.0                       1.0
3          False        18000  ...            0.0                       1.0
4          False        20000  ...            0.0                       1.0
...          ...          ...  ...            ...                       ...
4572       False    300000000  ...            0.0                       1.0
4573       False    300000000  ...            0.0                       1.0
4574       False    300000000  ...            0.0                       1.0
4575       False    356000000  ...            0.0                       1.0
4576       False    380000000  ...            0.0                       1.0

[4577 rows x 30 columns]

In [4]:
y = df.iloc[:, 0]
y

0           545436
1          1000000
2          2700000
3             8811
4            26890
           ...
4572     657924295
4573     961000000
4574    2046239637
4575    2797800564
4576    1045713802
Name: revenue_main, Length: 4577, dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2)

In [6]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(xtrain, ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [7]:
from sklearn.metrics import accuracy_score
#Print : Coefficient Values
print("\nCoefficient Values: ")
print(model.coef_)
#Print : Intercept Values
print("\nIntercept Values: ")
print(model.intercept_)
#Print : nprediction Accuracy
ypred = model.predict(xtrain)
print("\nprediction Accuracy: ")
print(accuracy_score(ytrain, ypred))

Coefficient Values:
[[ 0.00000000e+00 -3.58937623e-07  9.32299895e-08 ... -3.34741165e-14
   0.00000000e+00 -3.66822314e-14]
 [ 0.00000000e+00 -2.70966644e-09  6.53150546e-09 ...  1.36252296e-13
   0.00000000e+00  1.27105582e-13]
 [ 0.00000000e+00 -1.18131981e-09  6.42798673e-08 ... -9.38699407e-14
   0.00000000e+00 -1.02345503e-13]
 ...
 [ 0.00000000e+00  4.34392962e-08 -6.86958906e-08 ... -2.06762511e-13
   0.00000000e+00 -2.32467018e-13]
 [ 0.00000000e+00  4.77434820e-08 -2.70206306e-08 ... -3.82746186e-13
   0.00000000e+00 -4.15442591e-13]
 [ 0.00000000e+00  4.47195783e-08 -7.14836641e-08 ... -2.51412266e-13
   0.00000000e+00 -2.78947532e-13]]

Intercept Values:
[ 1.88697681e-13  8.46177548e-14  9.86090136e-14 ... -4.04085083e-13
 -6.52148627e-13 -4.67307642e-13]

prediction Accuracy:
0.0005462988254575252